.b-contact {
    margin-top: 43px;
    &__name {
        margin-bottom: 1px;
        font-size: 17px;
    }
    &__phone {
        margin-bottom: 0px;
        margin-top: 1px;
        a {
            color: @cl-theme-link-black;
            text-decoration: none;
        }
    }
    &__email {
        margin-top: 0px;
        a {
            color: @cl-theme-link-black;
            text-decoration: none; 
        }
    }
}
.b-contact-header {
    float: right;
    position: relative;
    width: 252px;
}