.b-popup-login {
    &__login-link {
        margin: 7px 27px 0 0;
        float: left;
        
        @media (max-width: 500px) {
            margin-right: 0;
        }
    }
    &__forgot-password {
        display: inline-block;
        margin-bottom: 8px;
        color: @cl-theme-link-black;
        text-decoration: none;
        border-bottom: 1px dotted;
        &:hover {
            text-decoration: none;
        }
    }
    &__sign-up {
        text-decoration: none;
        display: block;
    }
    
}