#tab-carousel-product .b-product__item--badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#tab-carousel-product > .b-product__item--badge {
    display: none;
}

.tab-carousel-indicator__carousel-inner .b-product__item--badge {
    display: block;
}

@media all and (max-width: 1279px) {
    #tab-carousel-product > .b-product__item--badge {
        display: block;
    }

    .tab-carousel-indicator__carousel-inner .b-product__item--badge {
        display: none;
    }
}
