.b-tab {
    &--index {
        .b-product {
            width: 940px;
            margin-right: -30px;
        }
    }
    &__nav {
        &--item {
            margin: 0 14px;
        }
        &__link--order {
            font-size: 18px;
        }
    }
}