// Используется на стр. Все товары
.wrapper-bordered {
    border-bottom: 1px solid @cl-wrapper-border;
    border-left: 1px solid @cl-wrapper-border;
    border-right: 1px solid @cl-wrapper-border;
    padding-bottom: 45px;
    margin-bottom: 60px;
}