.b-bonus-program {
    &__advantages-list {
        width:500px;
    }
    &__advantages-item::before {
    	margin-left: -15px;
    }
    &__advantages-item--vip {
        width: 600px;
    } 
    &__ticket {
    	margin-right:21px;
    }
    &__card-balance {
         margin: 0px;
    }
    &__card-headline {
    	margin-left: 11px;
    }

}