.b-bonus-program {

    &__advantages-list {
    	text-align: left;
    	width:297px;
    }
    &__advantages-item--vip {
        width: 297px;
    }
    &__advantages-item--hidden {
    	display:none;
    }
    &__card-title {
		display:none;
	}
    &__card-title--bye {
		display:inline-block;
		font-family: @font-bold;
		font-weight: bold;
		font-size: 17px;
		letter-spacing: -0.4px;
		margin-bottom: 28px;
		margin-top:0px;
	}
	&__card-headline {
		margin-bottom: 6px;
		margin-left: 26px;
		display:block
		}
	&__card-price {
		margin-bottom: 38px;
        margin-left: 26px;
        width: 200px;
	}
	&__advantages-item{
		margin-left:15px;
		&:before{
		    margin-left:-13px;
		}
	}
	&__ticket{
		margin-right:6px;

	}
    &__card-balance {
        margin:0px;
    }
}