.b-popup-map {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    margin-top: 0;
    
    &--item {
        display: none;
        
        &.active {
            display: block;
        }
    } 
    
    &__container {
        margin-right: 35px;
    }
}