.b-catalog-sidebar {
    display: block;
    position: absolute;
    z-index: 5;
    width: 940px;
    text-align: justify;

    &:after {
        content: '';
        width: 100%;
        overflow: hidden;
        display: inline-block;
    }
}