.b-cart {
    
    &__list {
        min-width: 500px;
    }
    
    &__quantity {
        min-width: 200px;
    }
    
    &__price {
        min-width: 100px;
    }
    &__right-row {
        max-width: 450px;
    }
}