.b-brand-list {
    text-align: justify;

    &__item {
        margin-right: 26px;

        &:nth-of-type(5n+5) {
            margin-right: 26px;
        }

        &:nth-of-type(4n+4) {//Каждый 4-й, 8-й бренд не будет переходить на след. строку
            margin-right: 0;
        }
    }

    &__link {
        height: 200px;
        padding: 40px 0 0 0;
        width: 210px;
    }

    &__image {
        margin-bottom: 10px;
    }
}