.b-events {
    height: 517px;
    &--overflow {
        height: 517px;
    }
    &__banner2x {
        width: 460px;
        height: 220px;
    }
    
    &__banner {
        width: 220px;
        height: 220px;
    }
    
    &__banner, &__banner2x {
        margin-bottom: 20px;
    }
}