.b-price {
	&__large {
		font-size: 36px;
	    font-family: @font-semibold;
	    letter-spacing: 2px;
	}
	&__small {
		font-size: 32px;
	    font-family: @font-semibold;
	    line-height: 22px;
	}
	&__rouble {
		font-family: @font-rouble;
	    font-size: 0.7em;
	    margin-left: 5px;
	    text-transform: none;
	}
}
