.b-order-contact {
    width: 630px;
}
.b-order-delivery {
    width: 610px;
}
.b-order-payment {
    width: 590px;
}
.b-order-overall {
    width: 570px;
}
.b-order-basket {
    &__cell {
        &--name {
            width: 62%;
        }
        &--count {
            width: 20%;
        }
        &--sum {
            width: 18%;
        }
    }
}
.b-order-overall {
    &__cell {
        width: 82%;
        padding: 0 73px 0 0;
        &:last-child {
            width: 18%;
        }
    }
}