.b-order-contact {
    width: 477px;
}
.b-order-delivery {
    width: 463px;
}
.b-order-payment {
    width: 437px;
}
.b-order-overall {
    width: 423px;
}
.b-order-basket {
    &__cell {
        &--name {
            width: 57%;
        }
        &--count {
            width: 19%;
        }
        &--sum {
            width: 24%;
        }
    }
}
.b-order-overall {
    &__cell {
        width: 76%;
        padding: 0 52px 0 0;
        &:last-child {
            width: 24%;
        }
    }
}