.b-response {

	&__feedback-discription {
		margin-right: 0px;
        width:441px;
	}
	&__feedback--text {
		margin-right: 0px;
	}
    &__feedback-picture {
        margin-top: 38px;
        width: 51%;
    }
    &__feedback-picture--headline {
        display: none;
    }
    &__opinion-name, &__opinion-mail, &__opinion-message {
    	margin-right:33px;
        width:420px
    }
}