.b-response{

    &__feedback-text {
        width:100%;
        margin-bottom:54px;
    }
    &__feedback-discription {
        margin-right: 107px;
        width:456px;
    }
    &__tab-list {
        max-width: 420px;
    }
    &__feedback-picture {
        width:673px;
        margin-top:-1px;
    }
    &__tab-item {
        padding-left: 17px;
        padding-right: 19px;
        width:100%;
    }

    &__opinion-name, &__opinion-mail  {
       width: 419px;
       margin-right:207px;
    }
    &__opinion-number, &__opinion-tel {
        display: block;
        width: 200px;
    }
    &__opinion-message {
        width: 530px;
    }
}