@media (min-width: 858px) and (max-width: 903px) {
    .b-tab-review {
        &__review {
            max-width: 440px;
        }
        &__answer {
            max-width: 440px;
        }  
    }
}   
@media (min-width: 813px) and (max-width: 857px) {
    .b-tab-review {
        &__review {
            max-width: 400px;
        }
        &__answer {
            max-width: 400px;
        }  
    }
}
@media (min-width: 752px) and (max-width: 812px) {
    .b-tab-review {
        &__review {
            max-width: 350px;
        }
        &__answer {
            max-width: 350px;
        }  
    }
}
@media (min-width: 648px) and (max-width: 751px) {
    .b-tab-review {
	    &__user-info {
    	    max-width: 150px;
        }
        &__review {
            max-width: 300px;
        }
        &__support {
            margin: 15px 0 1px 20px;
        }
        &__answer {
            max-width: 300px;
        }  
    }
}