<div id="slider-brand" class="carousel slide slider-brand-mobile-min" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators--slider-brand">
        <li data-target="#slider-brand" data-slide-to="0" class="active"></li>
        <li data-target="#slider-brand" data-slide-to="1"></li>
        <li data-target="#slider-brand" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/slider-brand-image.jpg" alt="Asics" title="Бренд Asics" />
            <div class="carousel-caption">
                <h3>asics</h3>
                <p>ЗИМА 2015-2016</p>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-brand-image.jpg" alt="Asics" title="Бренд Asics" />
            <div class="carousel-caption">
                <h3>asics</h3>
                <p>ЗИМА 2015-2016</p>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-brand-image.jpg" alt="Asics" title="Бренд Asics" />
            <div class="carousel-caption">
                <h3>asics</h3>
                <p>ЗИМА 2015-2016</p>
            </div>
        </div>
    </div>
</div>