</div>
<!-- закрывается центральная часть -->
<footer class="b-footer">
    <div class="b-footer__menu">
        <div class="b-container ">
            <div class="b-footer__nav-col">
                <div class="b-footer-nav">
                    <ul class="b-footer-nav__list">
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="О компании">О компании</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="О компании">О компании</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Магазины">Магазины</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Сотрудничество">Сотрудничество</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Новости">Новости</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Вакансии">Вакансии</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Контактная информация">Контактная информация</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-contact">
                    <p class="b-footer-contact__phone"><a href="tel:+74232448844">+7 423 244-88-44</a></p>
                    <p class="b-footer-contact__mail"><a href="mailto:shop@olimpvl.ru">shop@olimpvl.ru</a></p>
                    <p class="b-footer-contact__feedback"><a href="#popup-feedback" data-popup="open" title="Обратная связь">Обратная связь</a></p>
                </div>
            </div>
            <div class="b-footer__nav-col">
                <div class="b-footer-nav">
                    <ul class="b-footer-nav__list">
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Каталог">Каталог</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Акции и распродажи">Акции и распродажи</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Спорт">Спорт</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Тренажеры и фитнес">Тренажеры и фитнес</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Туризм и отдых">Туризм и отдых</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Рыбалка">Рыбалка</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Мототехника и лодки">Мототехника и лодки</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Одежда и обувь">Одежда и обувь</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Бренды">Бренды</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Все товары">Все товары</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="b-footer__nav-col">
                <div class="b-footer-nav">
                    <ul class="b-footer-nav__list">
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Покупателям">Покупателям</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Помощь">Помощь</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Доставка и оплата">Доставка и оплата</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Сервис">Сервис</a>
                        </li>
                        <li class="b-footer-nav__item">
                            <a href="#" class="b-footer-nav__item--link" title="Кредитные программы">Кредитные программы</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-bonus">
                    <a href="#" class="b-footer-bonus__card--bonus" title="Подарочные карты">Подарочные<br />карты</a>
                    <a href="#" class="b-footer-bonus__card--gift" title="Бонусная программа">Бонусная<br />программа</a>
                </div>
            </div>
            <div class="b-footer__nav-col">
                <h5 class="b-footer__nav--name">Присоединяйтесь</h5>
                <div class="b-social">
                    <ul class="b-social__list clearfix">
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--facebook"></a></li>
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--twitter"></a></li>
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--vkontakte"></a></li>
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--odnoklassniki"></a></li>
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--youtube"></a></li>
                        <li class="b-social__item"><a href="#" class="b-social__link b-social__link--insagram"></a></li> 
                    </ul>
                </div>

                <div class="b-subscribe">
                    <form action="/">
                        <div class="b-subscribe__form-group">
                            <input type="email" class="form-control b-subscribe__input" placeholder="Ваш e-mail">
                            <div class="input-group-btn"> 
                                <input type="submit" class="b-subscribe__button" value="" />
                            </div>
                        </div>
                    </form>
                    <p>Подпишитесь на наши обновления<br />и получите <span>300 бонусов</span></p>
                </div>
                <div class="b-footer-pay">
                    <ul class="b-footer-pay__list">
                        <li class="b-footer-pay__item">
                            <a href="#" class="b-footer-pay__cash" title=""></a> 
                        </li>
                        <li class="b-footer-pay__item">
                            <a href="#" class="b-footer-pay__visa" title=""></a>
                        </li>
                        <li class="b-footer-pay__item">
                            <a href="#" class="b-footer-pay__mc" title=""></a>
                        </li>
                        <li class="b-footer-pay__item">
                            <a href="#" class="b-footer-pay__yad" title=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer__menu-mobile">
        <div class="b-aside__block b-footer-filter">
            <div class="b-footer-filter__item b-footer-filter__item--accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div role="tab" id="filterbrand">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filterbrand-collapse" aria-expanded="true" aria-controls="filterbrand-collapse" class="b-footer-filter__title">каталог</a>
                </div>
                <div id="filterbrand-collapse" class="panel-collapse collapse in js-collapse" role="tabpanel" aria-labelledby="filterbrand">
                    <ul class="b-footer__menu-mobile-list">
                        <li class="b-footer__menu-mobile-item"><a href="">Помощь</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Доставка и оплата</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Сервис</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Кредитные программы</a></li>
                    </ul>
                </div>
            </div>
            <div class="b-footer-filter__item b-footer-filter__item--accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div role="tab" id="filtercolor">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filtercolor-collapse" aria-expanded="true" aria-controls="filtercolor-collapse" class="b-footer-filter__title">О компании</a>
                </div>
                <div id="filtercolor-collapse" class="panel-collapse collapse in js-collapse" role="tabpanel" aria-labelledby="filtercolor">
                    <ul class="b-footer__menu-mobile-list">
                        <li class="b-footer__menu-mobile-item"><a href="">Помощь</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Доставка и оплата</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Сервис</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Кредитные программы</a></li>
                    </ul>
                </div>
            </div>
            <div class="b-footer-filter__item b-footer-filter__item--accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div role="tab" id="filtersize">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filtersize-collapse" aria-expanded="true" aria-controls="filtersize-collapse" class="b-footer-filter__title">покупателям</a>
                </div>
                <div id="filtersize-collapse" class="panel-collapse collapse in js-collapse" role="tabpanel" aria-labelledby="filtersize">
                    <ul class="b-footer__menu-mobile-list">
                        <li class="b-footer__menu-mobile-item"><a href="">Помощь</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Доставка и оплата</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Сервис</a></li>
                        <li class="b-footer__menu-mobile-item"><a href="">Кредитные программы</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="b-container">
            <div class="b-footer__row">
                <div class="b-footer-contact">
                    <p class="b-footer-contact__phone"><a href="tel:+74232448844">+7 423 244-88-44</a></p>
                    <p class="b-footer-contact__mail"><a href="mailto:shop@olimpvl.ru">shop@olimpvl.ru</a></p>
                    <p class="b-footer-contact__feedback"><a href="#" title="Обратная связь">Обратная связь</a></p>
                </div>
                <div class="b-footer-bonus">
                    <a href="#" class="b-footer-bonus__card--bonus" title="Подарочные карты">Подарочные<br />карты</a>
                    <a href="#" class="b-footer-bonus__card--gift" title="Бонусная программа">Бонусная<br />программа</a>
                </div>
            </div>

            <h5 class="fw_bold">ПРИСОЕДИНЯЙТЕСЬ</h5>

            <div class="b-social">
                <ul class="b-social__list clearfix">
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--facebook"></a></li>
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--twitter"></a></li>
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--vkontakte"></a></li>
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--odnoklassniki"></a></li>
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--youtube"></a></li>
                    <li class="b-social__item"><a href="#" class="b-social__link b-social__link--insagram"></a></li> 
                </ul>
            </div>
        </div>
    </div>

    <div class="b-footer-mobile__pay">
        <ul class="b-footer-mobile__pay--list">
            <li class="b-footer-mobile__pay--item">
                <a href="#" class="b-footer-mobile__pay--link b-footer-pay__cash" title=""></a> 
            </li>
            <li class="b-footer-mobile__pay--item">
                <a href="#" class="b-footer-mobile__pay--link b-footer-pay__visa" title=""></a>
            </li>
            <li class="b-footer-mobile__pay--item">
                <a href="#" class="b-footer-mobile__pay--link b-footer-pay__mc" title=""></a>
            </li>
            <li class="b-footer-mobile__pay--item">
                <a href="#" class="b-footer-mobile__pay--link b-footer-pay__yad" title=""></a>
            </li>
        </ul>
    </div>
    
    <div class="b-footer__copyright">
        <div class="container b-container">
            <div class="pull-left b-footer__copyright--text"><p>© 2014.  Группа компаний «Олимп».  Все права защищены.</p></div>
            <div class="pull-right"><p>Сделано в <a href="http://greensight.ru/" title="Производственное digital-агентство Greensight">Greensight</a></p></div>
        </div>
    </div>
    
    @@include('../include/popups.html', {
        "feedback": true
    })
</footer>