.b-alphabet-error {
    &__list {
        text-align: right;
    }
    
    &__text {
        float: left;
    }
    
    &__item {
        margin-left: 12px;
    }
}
@media (max-width: 960px) {
    .b-alphabet-error {
        &__item {
            margin-left: 7px;
        }
    }
}
