.b-alphabet-error {
    width: 100%;
    clear: both;
    margin-bottom: 15px;
    &__list {
        margin: 0;
        padding: 0;
    }
    
    &__text {
        list-style-type: none;
        color: @cl-theme-red;
        display: inline-block;
    }
    
    &__item {
        list-style-type: none;
        display: inline-block;
        margin-left: 30px;
    }
    
    &__letter {
        text-decoration: none;
        color: @cl-theme-grey;
        text-transform: uppercase;
    }

}