// Стили для таба Забрать в магазине - include/order-delivery
.b-tab-available__in-stock {
    &--delivery {
        font-weight: 300;
        line-height: 16px;
        text-align: center;
    }
}
.b-tab-available__select {
    margin-left: 16px;
}
.b-tab-available__shop-block {
    padding-left: 13px;
}