.b-swiper {
    margin-bottom: 20px;

    &__list {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 1260px;
    }

    &__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 20px;
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__image {
        margin-bottom: 10px;
    }

    &__about {
        font-size: 14px;
        height: 125px;
        max-width: 1220px;
    }

    &__paragraph {
        margin-bottom: 10px;
    }
}