.b-swiper {
    margin-bottom: 45px;

    &__list {
        height: 228px;
    }

    &__item {
        display: inline-block;
        margin: 0 25px 0 0;

        &:nth-child(even) {
            margin-right: 0;
        }

    }

}