.b-image-sport {
    margin-bottom: 10px;
    position: relative;
    &__caption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 30px;
        width: 100%;
    }
    &__image {
        display: inline-block;
        margin-right: 10px;
    }
    &__text {
        display: inline-block;
        border-left: 1px solid @cl-theme-white;
        color: @cl-theme-white;
        font-family: @font-base;
        font-size: 18px;
        height: 75px;
        padding: 0 0 0 15px;
        width: 50%;
        p {
            margin-bottom: 10px;
        }
    }
    img {
        width: 100%;
    }
}