.b-category {
    align: left;
    border-top: 1px solid @cl-theme-link-grey;
    display: inline-block;
    display: none;
    position: absolute;
    vertical-align: top;
    width: 460px;
    z-index: 2;
}