.b-subscribe {
    &__input {
        width: 190px;

    }
    & input[type="text"] {
        margin:0;
        max-width: 190px;
        display: inline;
        border-radius: 0;
        height: 42px;
        width: 100%;
        border: none;
        box-shadow: none;
    }
    &__button {
        background: @cl-theme-dark-red ;
        height: 40px;
        width: 42px;
        
    }
    & input[type="submit"] {
    	margin: 0;
        height: 42px;
        width: 42px;
        border: 0;
        border-radius: 0;
        background: @cl-theme-dark-red;
    }
}

