.b-account-favorites {

    &__header-item--goods {
		width: 431px;		
	}

	&__header-item--count {
		width: 127px;
		
	}
	&__header-item--price {
		width: 87px;	
	}
	&__product-item--description {
		width: 448px;
	}
	&__product-item--sum {
        width: 122px;
	}
	&__product-item--price {
		width: 88px;	
	}
	&__product-item--count {
		width: 127px;	
	}
	&__product-row {
		padding-left: 0px;
	}
	&__product-item--image {
        margin-right: 18px;
    }
}