.b-account-favorites {

    &__header-item--goods {
		width: 513px;		
	}

	&__header-item--count {
		width: 175px;
		
	}
	&__header-item--price {
		width: 169px;	
	}
	&__product-item--description {
		width:520px;
	}
	&__product-item--sum {
        width: 165px;
	}
	&__product-item--price {
		width: 173px;	
	}
	&__product-item--count {
		width: 176px;	
	}
}