.b-cooperation {
    display: inline-block;
    margin-bottom: 25px;

    &__text {
        text-align: left;
        max-width: 890px;
        h2 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 5px;
        }
    }
    p {
        margin-bottom: 20px;
    }
    h4 {
        margin: 0;
    }
    &__contact {
        margin-top: 0;
        a {
            color: @cl-theme-global;
            text-decoration: none;
            &:hover {
                color: @cl-theme-link-hover;
            }
        }
    }
}