// Стили для ползунка в блоке фильтров

.bx-filter .bx-ui-slider-track-container {
    padding: 0 10px;
}

.bx-filter .bx-ui-slider-track {
    background: #ccc;
    border-radius: 10px;
    height: 16px;
    position: relative;
    width: 240px;
}

.bx-filter .bx-ui-slider-handle.left {
    background: #000;
    border-radius: 10px;
    height: 16px;
    margin-left: -10px;
    position: absolute;
    width: 16px;
    z-index: 2;
    top: 0;
}
.bx-filter .bx-ui-slider-handle.right {
    background: #000;
    border-radius: 10px;
    height: 16px;
    margin-right: -8px;
    position: absolute;
    width: 16px;
    z-index: 2;
    top: 0;
}

.bx-filter .bx-ui-slider-range {
    z-index: 80;
}
.bx-filter .bx-ui-slider-pricebar {
    z-index: 100;
}
.bx-filter .bx-ui-slider-pricebar-vd {
    z-index: 60;
    background: #849da4;
}
.bx-filter .bx-ui-slider-pricebar-vn {
    background: #cccccc;
    border-radius: 10px;
    height: 16px;
    top: 0;
    height: 100%;
    z-index: 70;
}
.bx-filter .bx-ui-slider-pricebar-v {
    z-index: 80;
    background: #ba2820;
}