.bx-ui-slider-handle.left {
    margin-left: 0;
}
// Стили для ползунка в блоке фильтров

.b-filterbuttons__container-productfilter .bx-ui-slider-track-container {
    padding: 0 10px;
}

.b-filterbuttons__container-productfilter .bx-ui-slider-track {
    background: #ccc;
    border-radius: 10px;
    height: 16px;
    position: relative;
    //width: 240px;
}

.b-filterbuttons__container-productfilter .bx-ui-slider-handle.left {
    background: #000;
    border-radius: 10px;
    height: 16px;
    margin-left: -10px;
    position: absolute;
    width: 16px;
    z-index: 2;
    top: 0;
}
.b-filterbuttons__container-productfilter .bx-ui-slider-handle.right {
    background: #000;
    border-radius: 10px;
    height: 16px;
    margin-right: -10px;
    position: absolute;
    width: 16px;
    z-index: 2;
    top: 0;
}

.b-filterbuttons__container-productfilter .bx-ui-slider-range {
    z-index: 80;
}
.b-filterbuttons__container-productfilter .bx-ui-slider-pricebar {
    z-index: 100;
}
.b-filterbuttons__container-productfilter .bx-ui-slider-pricebar-vd {
    z-index: 1;
    background: #ba2820;
    position: absolute;
    top: 0;
    bottom: 0;
}
.b-filterbuttons__container-productfilter .bx-ui-slider-pricebar-vn {
    background: #cccccc;
    border-radius: 10px;
    height: 16px;
    top: 0;
    height: 100%;
    z-index: 70;
}
.b-filterbuttons__container-productfilter .bx-ui-slider-pricebar-v {
    z-index: 80;
    background: #ba2820;
}