#tab-carousel-product {
    margin: 45px 0 36px;
}
.tab-carousel-indicator {//стили индикатора
    top: 0px;
    left: 0px;
    li {
        cursor: pointer;
        display: inline-block;
        background: none;
        height: 100px;
        margin-right: 8px;
        margin-bottom: 10px;
        width: 100px;
        text-indent:0;
    }
    &__carousel-inner {
        max-width: 680px;
        left: 130px;
    }
}
.tab-bxslider .bx-viewport {
    width: 100%;
    max-width: 100px;
    height: 340px!important;
}
.carousel-inner-nolist {
    min-height: 400px;
    left: 0;
}
#tab-carousel-product .carousel-inner-nolist .item img {
    max-height: 100%;
}
.tab-carousel-indicator__carousel-inner.carousel-inner-nolist {
    width: 100%;
}