.b-news-detail {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;

    &__image {
        margin-bottom: 23px;
    }
    &__text {
        text-decoration: none;
        width: 960px;
    }
    &__paragraph {
        margin: 0 0 10px;
    }
    &__link {
        text-decoration: none;
    }
}