.mCS-custom {
    &.mCSB_scrollTools {
        width: 10px;

        .mCSB_dragger {
            .mCSB_dragger_bar {
                width: 10px;
                border-radius: 0;
                background-color: #333;
            }
        }

        .mCSB_draggerRail {
            width: 4px;
            background-color: #ccc;
            border-radius: 0;
        }
    }

    & > .mCSB_container {
        margin-right: 10px;
    }
}