.fancybox-wrap {
    min-width: 300px;
    width: ~"calc(100% - 40px)" !important;
    max-width: 460px;
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%);
    margin: 0;
    margin-top: 10px;
    
    @media (max-width: 500px) {
        width: ~"calc(100% - 30px)" !important;
        left: 0 !important;
        transform: none;
        margin: 10px;
    }
}

.fancybox-inner {
    width: 100% !important;
    height: auto !important;
    overflow: hidden !important;
}

.fancybox-skin {
    color: #000;
}

