.b-column {
    //margin-right: 22px;
    margin-right: 0px;
    width: calc(~'(100% - 8px) / 4');
    &__name {
        &--single {
            max-width: 250px;
        }
    }
    &--x2 {
        width: calc(~'(100% - 8px) / 2');
    }
}