.b-link {
    &__back-to-shopping {
        text-decoration: none;
        font-family: @font-bold;
        font-size: 16px;
        padding: 0 0 0 30px;
        letter-spacing: 0.4px;
        position: relative;
        &:before {
            .sprite(@back);
            content: "";
            left: 0;
            position: absolute;
            top: 3px;
        }
        &:hover {
            //text-decoration: none;
            .b-text-link {text-decoration: underline;}
        }
        &--order {
            margin: 16px 0 0;
            display: block;
        }
    }
    &__add-favorites {
        color: @cl-theme-link-grey;
        font-size: 16px;
        padding: 0 0 0 30px;
        position: relative;
        text-decoration: none;
        transition: none;
        &:before {
            .sprite(@star-outline);
            content: "";
            left: 0;
            position: absolute;
            top: 0;
        }
        &--cart {
            display: block;
            margin-bottom: 10px;
        }
        &:hover:before {
            .sprite(@star-outline-red);
        }
        &:hover {
            color: @cl-theme-link;
            text-decoration: none;
        }
        .text-link {
            border-bottom: 1px dotted;
        }
    }
    &__add-favorites--button {
        border: 2px solid @cl-theme-link-grey;
        font-size: 14px;
        width: auto;
        padding: 10px 18px 6px 47px;
        letter-spacing: 0.4px;
        float: left;
        &:before {
            top: 6px;
            left: 13px;
        }
        &:hover {
            border-color: @cl-theme-link;
        }
        .text-link {
            border: none;
            text-transform: uppercase;
            font-family: @font-bold;
        }
    }
    &__add-favorites--button-active {
        color: @cl-theme-link;;
        border-color: @cl-theme-link;
        &:before {
            .sprite(@star-outline-red);
        }
    }
    &__view-all {
        text-decoration: none;
        font-size: 14px;
        &:hover {
            text-decoration: underline;
        }
        &--checkout {
            display: block;
        }
    }
    &__show-more {
        text-decoration: none;
        color: @cl-theme-global;
        .sprite(@refresh);
        font-family: @font-bold;
        font-size: 14px;
        padding: 7px 0 0 43px;
        transition: none;
        background-repeat: no-repeat;
        &:hover {
            color:@cl-theme-link-hover;
            .sprite(@refresh-red);
        }
    }
    &__delete {
        text-decoration: none;
        font-size: 16px;
        .sprite(@x);
        color:@cl-theme-link-grey;
        padding-left: 30px;
        transition: none;
        &--cart {
            display: block;
        }
        &:hover {
            .sprite(@x-red);
            color:@cl-theme-link;
            text-decoration: none;
        }
        & .b-text-link {border-bottom: 1px dotted;}
    }
    &__print {
        font-size: 14px;
        color:@cl-theme-global;
        text-decoration: none;
        .sprite(@print);
        padding: 1px 0 0 27px;
        transition: none;
        background-repeat: no-repeat;
        &:hover {
            color: @cl-theme-link;
            .sprite(@print-red);
        }
    }
    &__letters {
        &--item {
            margin: 0 5px;
            font-size: 14px;
            color: @cl-theme-link-grey;
            text-decoration: none;
            &:first-child {
                margin: 0 2px 0 0;
            }
            &:last-child {
                margin: 0 0 0 2px;
            }
            &:hover {
                color: @cl-theme-link-hover;
            }
        }
    }
    &__dotted {
        border-bottom: 1px dotted;
        text-decoration: none;
        color: @cl-theme-grey;
        &:hover {
            text-decoration: none;
        }
        &--black {
            color:@cl-theme-link-black;
        }
        &--red {
            color: @cl-theme-link;
            border-bottom: 1px dotted;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__dotted--checkout {
        color: @cl-theme-global;
        display: inline-block;
        font-size: 14px;
        margin: 0 0 6px;
    }
    &--all-brands {
        text-decoration: none;
    }
}