.b-error {
    &__number{
        float: none;
        margin: 0 auto;
    }
    
    &__text {
       margin: 0 auto; 
    }
    
    .b-social {
        margin: 0 auto;
    }
    
    &__text-align {
        float: none;
        margin: 0 auto;
    }
}