.b-error {
    font-family: @font-bold;
    padding: 120px 0 130px;

    &__number {
        font-size: 135px;
        font-weight: bold;
        color: @cl-theme-dark-red;
        height: 150px;
        line-height: 150px;
        vertical-align: middle;
        margin-bottom: 0;
        padding: 40px 0 0 100px;
    }
    
    &__text {
        font-family: @font-base;
        font-size: 16px;
        max-width: 480px;

        h1 {
            font-family: @font-bold;
            font-size: 32px;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 20px;
        }
    }

    .b-social {
        max-width: 410px;
    }
}