#tab-carousel-product .tab-carousel-indicator__carousel-inner .item {
    text-align: center;
}
#tab-carousel-product .item img {
    width: auto;
    max-height: 290px;
}
.tab-carousel-indicator li {
    text-align: center;
}