.b-browser-happy {
    background: #fff;
    padding: 20px 0;
    text-align: center;

    strong {
        color: @cl-theme-red;
    }

    &__notice {
        font-size: 20px;
    }

    &__security {
        font-size: 12px;
    }

    &__update {
        font-size: 14px;
    }

    &__recommend {
        font-size: 12px;
    }
}